<span class="badge rounded-pill bg-primary">Valid</span>
<span class="badge rounded-pill bg-danger"
  >Invalid</span
>
<span class="badge rounded-pill bg-secondary"
  >Pending</span
>
<span class="badge rounded-pill bg-dark"
  >Disabled</span
>
<span class="badge rounded-pill bg-success"
  >Enabled</span
>
<span class="badge rounded-pill bg-light text-dark"
  >Pristine</span
>
<span class="badge rounded-pill bg-dark">Dirty</span>
<span class="badge rounded-pill bg-warning text-dark"
  >Touched</span
>
<span class="badge rounded-pill bg-info text-dark"
  >UnTouched</span
>

<span style="color: red;"></span>
